@import url(https://fonts.googleapis.com/css?family=Big+Shoulders+Text);

#master_Container_3{
    flex-direction: column;
    width: 100%;
    margin:0 !important;
    max-width: 100%;
    
}
.container{
    max-width: 100%;
    padding:0 !important;
}

#headerContainer_3{
    flex-direction: row;
    justify-content: space-between  ;
}


#bodyContainer_3{
    flex-direction: row;
    width:100%;
    margin:0 !important;
}


#projectsContainer{
    
    flex-direction: row;
    display:flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}

#FitresContainer{
    font-size: 13px;
    font-weight: 200;
    line-height:13px;
    text-align: left;
    background-color:rgb(245, 245, 245);
    padding: 20px;
  
}
#filterLocation{
    height:50px;
    font-size:13px;
}


 