@import url(http://fonts.googleapis.com/css?family=Big+Shoulders+Text);

#master_Container_6{
    flex-direction: column;
    margin:0 !important;

}
.container{
    max-width: 100%;
    padding:0 !important;
}

#headerContainer_6{
    flex-direction: row;
    justify-content: space-between ;

}


#bodyContainer_6{
    flex-direction: row;
    width:100%;
    margin:0 !important;
    
}


#publicationContainer_6{
    flex-direction: column;
    width: 100%;
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    margin-top:10px;
      
}

#FitresContainer_6{
    font-size: 14px;
    font-weight: 600;
    line-height:13px;
    text-align: left;
    background-color:rgb(245, 245, 245);
    padding: 20px;
    height:300px;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  
}
#filterLocation_6{
    height:50px;
    font-size:13px;
    margin-bottom: 2rem;
}

#divider_6{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 0;
    align-self: center;
    width: 30%;
    border-top: 3px solid black;
}
#ContainerScore{
    margin-top:5px;
    padding:40px
}
#score{
    font-size: 80px;
    color: green;
}
#HighScore{
    font-size: 30px;
    color: green;
}