@import url(http://fonts.googleapis.com/css?family=Big+Shoulders+Text);

.container-fluid{
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
}

#headerContainer{
    flex-direction: row;
    justify-content: space-between  ;
}
#container_name{
    
}

#container_button{
    
}

#card{
    margin-right: 20px;
}

.buttoncontainer {
    float: right !important;
    right:0px;
    left:180px;
  }

.h2{
    font-family: 'Big Shoulders Text';
    font-weight: 500;
}
    

    
    