@import url(http://fonts.googleapis.com/css?family=Big+Shoulders+Text);

#master_Container_1{
    flex-direction: column;
    width: 100%;
    margin:0 !important;
    max-width: 100%;
    
}
.container{
    max-width: 100%;
    padding:0 !important;
}

#headerContainer_1{
    flex-direction: row;
    justify-content: space-between  ;
}


#bodyContainer_1{
    background-color: white;
    flex-direction: row;
    width:100%;
    margin:0 !important;
}


#ContainerImgProject{
    background-color: rgb(218, 218, 218);
    padding:0 !important;
    height:300px;
    width: 100%;
    
    
}
#imgProject{
    height: 100%;
    width: 100%;
}
#titre_project{
    color: green;
}
#projectDetail{
    font-size: 13px;
    font-weight: 200;
    line-height:13px;
    text-align: left;
    background-color:white;
    padding: 0px 40px 40px 40px ;
  
}
#project_type{
    font-family: "Big Shoulders Text";
    font-size: 10px;
font-weight: 200;
margin-bottom:4px;
}

#data{
    font-size: 13px;
    font-weight: 600;
    line-height:10px;
    text-align: left;
}


.h2{
    font-family: "Big Shoulders Text";
    font-weight: 500;
}
    
#dividerContainer{
    
}

#divider{
    height: 0.1px;
    background-color:rgb(253, 253, 253);
}

#fill-div {
    color:black;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.badge {
    position: absolute;
    z-index: 30;
    font-size: 8px;
    font-weight: 300;
}
#containerTab{
    width: 100%;
}

#link{
font-family: "Big Shoulders Text";
text-decoration: none;
color: black;
font-size: 17px;
}

#link:hover {
    color:green;
  }
#link:active {
    color:green;
}  


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: green !important;
    background-color: rgb(248, 248, 248);
    border-color: #dee2e6 #dee2e6 rgb(248, 248, 248);
}