@import url(https://fonts.googleapis.com/css?family=Big+Shoulders+Text);

#resultContainer_2{
    width:90%;
    justify-items: center;
    padding:0;
    margin: 0;
  
    
}
#resultTitle_2{
color: green;
}
#PublicationType_2{
 text-align: left !important;
 margin-top:-7px;
 margin-bottom :8px;
 font-family: 'Big Shoulders Text';
}

#photo_container_2{
    width:30%;
    height:170px;
    background-color: greenyellow;
}
#img_2{
    width:100%;
    height:100%;
    padding:10px;
}

#Detail_container_2{
padding:5px 20px 0px 10px;
font-size: 0.7em;
width:70%;
background-color: white;
}

#textDetail_2{
align-items: left;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
line-height: 16px;    
max-height: 96px;     
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

#container_avancement_pourcentage_2{
    flex-direction: row;
    justify-content: space-between;
  }

#hr{ 
    width:100%; 
    height:0.3px; 
    background: rgb(241, 241, 241);
}
#fill-div_project {
    color: black;
    width: 100%;
    flex-direction: row;
    text-decoration: none;
}