#resultContainer{
  
    width:100%
}
#resultTitle{
color: green;
}

#photo_container{
    background-color: gray;
    width:17%
}
#Detail_container{
background-color: rgb(250, 250, 250);
width:83%;
padding:10px;
}

